<div class="about-container" *transloco="let t">
  <div class="about">
    <div class="title-1">
      {{ t("about.about") }} <span class="green">{{ t("about.me") }}</span>
    </div>
    <div class="description">
      {{ t("about.description") }}
      <br />
    </div>
  </div>
  <div class="tech-stack">
    <div class="title-2">TECH STACK</div>
    <div class="icons-group">
      <icon width="35" height="35" icon="icon-css3.png"></icon>
      <icon width="35" height="35" icon="icon-html5.png"></icon>
      <icon width="35" height="35" icon="icon-javascript.png"></icon>
      <icon width="35" height="35" icon="icon-typescript.png"></icon>
      <icon width="35" height="35" icon="icon-sass.png"></icon>
      <icon width="35" height="35" icon="icon-angular.png"></icon>
    </div>
  </div>
</div>
