<div class="contact-container" *transloco="let t">
  <div class="title-1">{{ t("contact.title-1") }}</div>
  <div class="title-2">{{ t("contact.title-2") }}</div>

  <div class="contacts">
    <div class="bloco">
      <icon
        styleClass="icon icon-zoom"
        icon="icon-whatsapp.png"
        width="75"
        height="75"
        alt="whatsapp icon by Icons8"
      ></icon>
      <div class="bloco-info">
        <h4>{{ t("contact.localization") }}</h4>
        <a
        href=" https://wa.me/5561996080883"
        ><p class="link">(61)99608-0883</p></a
      >
      </div>
    </div>
    <div class="bloco">
      <icon
        styleClass="icon icon-zoom"
        icon="icon-gmail.png"
        width="75"
        height="75"
        alt="Gmail icon by Icons8"
      ></icon>
      <div class="bloco-info">
        <h4>{{ t("contact.mail") }}</h4>
        <a
          href="mailto:caiomreis.dev@gmail.com?subject={{
            t('contact.mail-value')
          }}"
          ><p class="link">caiomreis.dev@gmail.com</p></a
        >
      </div>
    </div>
  </div>
</div>
