@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "primeng/resources/themes/md-light-indigo/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import "styles/index.scss";


html {
  min-height: 100%;
  min-width: 100%;
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  min-height: 100%;
  min-width: 100%;
  height: 100vh;
  font-family: var(--font-family);
  background-attachment: fixed;
  background-image: linear-gradient(315deg, #000 0%, #282828 100%);
}
.btn-close {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.p-sidebar {
  background-color: #2b4162;
  background-image: linear-gradient(315deg, #000 -60%, #282828 100%);
}

.p-sidebar-header {
  height: 75px;
  box-shadow: var(--shadow-4);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

div {
  color: #fff;
}

.icon {
  border-radius: 5px;
  transition: all 0.2s;
  filter: drop-shadow(0px 2px 1.75px rgba(0, 0, 0, 0.5));
}

.icon-zoom {
  &:hover {
    transform: scale(1.1);
  }
  &:active {
    transform: scale(1.05);
  }
}

.pointer {
  cursor: pointer;
}

// animations
.show {
  animation: onShow 1s ease;
}

@keyframes onShow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes onHide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
